/* Color Pallete */
/* 
#A6CDFC
#9DCDFF
#56A1F6
#1C63B7
#0B3D77
#041B35
#5A6572
#A0B1C6
#D4E1F1
#FFFFFF */

/* General */
body {
  font-family: "Raleway", sans-serif;
  height: 100%;
}

.dark-mode {
  filter: invert(1) hue-rotate(180deg);
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  /* overflow:hidden; */
}

.container1 {
  display: flex;
  margin: 0 auto;
}

.drafts-container {
  text-align: center;
  width: 300px;
  margin-top: 2%;
  border-radius: 10px;
  background-color: #9dcdff;
  margin: 2% auto 2% 50px;
  padding-top: 20px;
}

.draft {
  text-align: left;
  margin: 20px;
  padding: 10px;
  border: 1px solid blue;
  border-radius: 10px;
  color: white;
}

.draft:hover {
  background-color: darkblue;
  cursor: pointer;
}

.selected {
  background-color: darkblue;
}

/* login Component Styles */
.jumbotron-post {
  margin-top: 2.5%;
  color: #041b35;
}

.post-form {
  margin: 2% 50px 2% auto;
  background-color: #9dcdff;
  padding: 3%;
  border-radius: 30px;
  color: #041b35;
  font-size: 1.5em;
}

.form-control {
  border-radius: 40px;
}

.post-submit {
  background-color: #0b3d77;
  color: #9dcdff;
  font-size: 1em;
  border-radius: 25px;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.post-submit:hover {
  background-color: #a0b1c6;
  color: #0b3d77;
  border-color: #0b3d77;
  font-size: 1em;
  border-radius: 25px;
  padding-left: 1em;
  padding-right: 1em;
}

#login-link {
  color: #0b3d77;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

span {
  font-size: 12px;
  color: red;
}

.post-options {
  display: flex;
  float: right;
}

.wcStyle {
  font-size: 20px !important;
  font-family: "Raleway", sans-serif;
  color: #0b3d77;
}

#record-location {
  width: 170px;
  font-size: 18px;
  background-color: #0a66cf;
  margin-left: -10%;
  margin-right: 10%;
}

#remove-location {
  width: 180px;
  font-size: 18px;
  background-color: #3f454c;
}

#record-location:hover {
  width: 170px;
  font-size: 18px;
  background-color: #0a66cf;
  margin-left: -10%;
  margin-right: 10%;
  color: #fff;
}

#remove-location:hover {
  width: 180px;
  font-size: 18px;
  background-color: #3f454c;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
}
