body {
  line-height: 0rem;
}

.dark-mode {
  filter: invert(1) hue-rotate(180deg);
}

.wrapper {
  display: flex;
}

.post-card {
  width: 467px;
  height: auto;
  background-color: #a6cdfc;
  border-radius: 15px;
}

.profile-pic {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

.post-heading {
  color: #041b35;
  font-size: 25px;
  font-weight: bolder;
}

.post-subheading {
  color: #5a6572;
  font-size: 16px;
  font-weight: bold;
}

.post-text {
  width: auto;
  height: auto;
  line-height: 1.15rem;
}

.category-pill {
  width: auto;
  height: auto;
  background-color: #d3e1f1;
  opacity: 50%;
  border-radius: 30px;
  color: #041b35;
  font-weight: bold;
  border: 1px solid #041b35;
  float: right;
  margin-left: auto;
  margin-right: 0px;
}

hr {
  height: 2px;
}

.trash-icon {
  color: red;
}

.tu {
  margin-left: 280px;
}

.container {
  display: flex;
  align-self: flex-start;
}

.btn-lg {
  border-radius: 30px;
  font-size: 1.2em;
  height: 2.5em;
  background-color: #ffffffa9;
}