<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Post Card</title>
  </head>
  <body>
    <div class="post-card py-3 px-3">
      <div class="wrapper">
        <div class="profile-pic">
          <img src="../../assets/nature.jpeg" alt="" />
        </div>
        <div class="pl-3">
          <p class="post-heading pt-2">Queen</p>
          <p class="post-subheading pt-2">Purdue University</p>
        </div>
        <div class="category-pill text-center pt-4 px-4">Nature</div>
      </div>
      <hr width="98%" color="#A0B1C6" />
      <div>
        <h2>Lorem ipsumpsa nobis cum expedita</h2>
        <p class="post-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et imperdiet
          ut ipsum hac et, amet, faucibus nunc sapien. Nisl in amet urna, eu
          non. Amet, etiam varius urna, eu ac mattis laoreet posuere neque.
          Mattis urna, eu mauris purus sit non ipsum tempus. Morbi nibh quis
          felis, morbi integer. Ante gravida enim, lectus eu convallis porta
          malesuada urna. Ridiculus viverra aliquet malesuada nisi. Lectus nam
          tortor, dictum porttitor eu. Integer at quam velit sollicitudin. Eget
          volutpat proin aliquam sed. Lacus, magna massa mauris in. Lacus id
          enim vitae consectetur sem mauris consequat.
        </p>
      </div>
      <button
      mat-icon-button
      class="trash-icon"
      onclick="return confirm('Are you sure you want to delete this post?')"
      >
      <mat-icon>delete</mat-icon>
    </button>
    </div>
  </body>
</html>
