<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../../assets/lotus.png" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <!-- Learned Bootstrap From -->
    <!-- https://getbootstrap.com/-->

    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/25ed10730a.js"
      crossorigin="anonymous"
    ></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway&display=swap"
      rel="stylesheet"
    />

    <!-- Animate.css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <title>Meliora</title>

    <script type="text/javascript" src="./loading/loading.js"></script>
  </head>
  <body [ngClass]="darkModeStatus ? 'dark-mode' : ''">
    <!-- Navbar Component -->
    <app-home-navbar></app-home-navbar>

    <!-- Signup Component -->
    <section>
      <h1 class="display-5 text-center heading section-head jumbotron-signup settings-header">
        Settings
      </h1>
      <div class="signup-form">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="form-group row">
            <label for="name inlineFormInputName2">Username:</label>
            <p class="user-name label-spacing" id="inlineFormInputName2">{{settings.username}}</p>
          </div>
          <div class="form-group row">
            <label for="email">Email:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
              [(ngModel)]="settings.email"
              name="email"
              required
            />
          </div>
          <div class="form-group row">
            <label for="uname">Phone Number:</label>
            <input
              type="text"
              class="form-control"
              id="uname"
              aria-describedby="emailHelp"
              [(ngModel)]="settings.phone"
              name="phone"
              required
            />
          </div>
          <div class="form-group row">
            <label for="password">Date of Birth:</label>
            <input
              type="text"
              class="form-control"
              id="password"
              [(ngModel)]="settings.dateOfBirth"
              name="dateOfBirth"
              required
            />
          </div>

          <div class="form-group row">
            <label for="password">Sex:</label>
            <input class="form-check" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
            <label class="form-check inline" for="flexRadioDefault1">
              Male
            </label>
            <input class="form-check" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check inline" for="flexRadioDefault1">
              Female
            </label>
          </div>
          <div class="form-group row">
                <input class="form-check" type="checkbox" [(ngModel)]="settings.darkModeStatus" name="darkModeStatus" (change)="checkDarkMode($event)" id="flexCheckChecked" [checked]="settings.darkModeStatus">
                <label class="form-check" for="flexCheckChecked">
                  Dark Mode
            </label>
          </div>
          <div class="form-group row">
            <input class="form-check" type="checkbox" name="privateOrPublic" id="flexCheckChecked" [checked]="settings.private">
            <label class="form-check" for="flexCheckChecked">
              Private
        </label>
      </div>
          <div class="text-center">
            <button type="submit" class="btn btn-lg signup-submit text-center" 
            onclick="getElementById('saved').innerHTML='Changes Saved!'">
              Save
            </button>
            <p class="center-saved" id="saved"></p>

          </div>
          <div class="row">
            <label for="password">Member Since:</label>
            <p class="user-name text-center label-spacing"> August 8, 2020</p>
          </div>
        </form>

        <div class="text-center">
          <button type="button" class="btn btn-lg signup-submit text-center" (click)="onLogoutClicked()" routerLink="/login">
            Log Out
          </button>
        </div>
        <div class="text-center">
          <button type="button" (click)="onDeleteAccountClicked()" class="btn btn-lg delete-submit text-center">
            Delete Account
          </button>
        </div>

        <div class="text-center">
          <button type="text" (click)="changePasswordEmail()" class="text-center">
            Send Change Password Email
          </button>
          <p>To change your password, you only need to follow the email after clicking this button.</p>
        </div>
      </div>

    </section>
  </body>
</html>
