<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Expanded Post Card</title>
  </head>
  <body [ngClass]="darkModeStatus ? 'dark-mode' : ''">
    <app-home-navbar></app-home-navbar>
    <div class="wrapper">
      <div style="margin-left: auto; margin-right: auto">
        <app-post-card [post]="this.post" [isExpanded]="true"></app-post-card>
        <div class="post-card py-3 px-3 form-group">
          <label for="comment">Add a comment</label>
          <input id="comment" class="form-control" type="text" />
          <button id="addCommentButton" (click)="onAddCommentClicked()">Add Comment</button>
        </div>
      </div>
      <div id="comment-container">
        <h2>Comments</h2>
        <ng-container *ngIf="comments.length > 0">
          <app-comment-card
            *ngFor="let comment of comments"
            [comment]="comment"
            style="margin: 10px"
          ></app-comment-card>
        </ng-container>
        <ng-container *ngIf="comments.length == 0">
          <app-no-posts-card></app-no-posts-card>
        </ng-container>
      </div>
    </div>
  </body>
</html>
