.navbar .navbar-nav .nav-link:hover {
  color: #ffffff;
}
@media only screen and (min-width: 960px) {
  .navbar .navbar-nav .nav-link {
    padding: 1em 0.7em;
  }
  .navbar {
    padding: 0;
  }
  .navbar .navbar-brand {
    padding: 0 0.7em;
  }
}
.navbar .navbar-nav .nav-link {
  position: relative;
}
.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #e3f2fd;
  color: transparent;
  width: 0%;
  content: "";
  height: 3px;
  transition: all 0.3s;
}
.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
}

.btn-login {
  font-size: 16px;
  margin-left: 1em;
  font-weight: bold;
  border: none;
  color: #fff;
  background-color: #9dcdff;
  min-width: 140px;
  border-radius: 10px;
}

.btn-login:hover {
  background-color: #0b3d77;
  border-color: #0b3d77;
  color: #0b3d77;
}

/* Modify the background color */
.bg-custom {
  background-color: #57a1f6;
}

/* #search {
  border-radius: 20px;
  background-color: #a6cdfc;
  border: none;
  width: 300px;
  float: left;
}

#searchButton {
  width: 50px;
  height: 50px;
  float: left;
}
*/
#searchGroup {
  /* margin-right: 200% !important; */
  margin-right: 300px;
  margin-top: 20px;
  width: 400px;
  /* display: inline-flex; */
}

#search {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#searchButton {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
}

#mental-health {
  background-color: #0b3d77;
  margin-right: 400% !important;
  width: -400px;
}

.navbar-center {
  display: flex;
  justify-content: center;
  width: 100%;
}
