<nav class="navbar navbar-expand-lg navbar-dark bg-custom">
  <a class="navbar-brand" routerLink="/home">
    <img
      src="../../assets/lotus.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Meliora
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li
        class="
        nav-item
        navbar-center
        form-inline
        active
        text-center
        justify-content-left
        "
        style="text-align: center"
      >
        <!-- <i class="fas fa-search"></i> -->
        <div id="searchGroup" class="input-group mb-3">
          <input class="form-control" type="text" id="search" placeholder="Search" aria-label="Search" />
          <div class="input-group-append">
            <button id="searchButton" for="search" class="btn" type="button" (click)="onSearchClicked()"><mat-icon>search</mat-icon></button>
          </div>
        </div>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/create-post"
          ><mat-icon>add</mat-icon> <span class="sr-only">(current)</span></a
        >
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/trending"
          ><mat-icon>whatshot</mat-icon>
          <span class="sr-only">(current)</span></a
        >
      </li>

      <li class="nav-item active">
        <a class="nav-link btn"
          ><mat-icon>notifications</mat-icon>
          <span class="sr-only">(current)</span></a
        >
      </li>

      <li
        class="
          nav-item
          active
          mr-sm-2
          mental-health
          navbar-center
          form-inline
          active
          text-center
          justify-content-left
        "
      >
        <a class="nav-link btn" routerLink="/mental-health">
          <mat-icon>live_help</mat-icon>
          <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
          <a
            routerLink="/profile"
            class="btn btn-login my-2 my-sm-0"
            style="margin-right: 1em; background-color: #a6cdfc; color: #fff"
            >Vidit</a
          >
        </form> -->
    <mat-menu #profileMenu="matMenu">
      <!--<button mat-menu-item routerLink="/profile">My Profile</button>-->
      <button mat-menu-item (click)="onMyProfileClicked()">My Profile</button>
      <button mat-menu-item routerLink="/settings">Settings</button>
      <button mat-menu-item (click)="onLogoutClicked()">Logout</button>
    </mat-menu>

    <button
      [mat-menu-trigger-for]="profileMenu"
      class="btn btn-login dropdown-toggle my-2 my-sm-0"
      style="margin-right: 1em; background-color: #a6cdfc; color: #fff"
    >
      {{ username }}
    </button>
  </div>
</nav>
