.wrapper {
  display: flex;
}

.profile-circle {
  width: 163px;
  height: 163px;
  border-radius: 50%;
  background-color: lightblue;
  overflow: hidden;
  position: relative;
}

.profile-name {
  font-size: 30px;
  font-weight: bolder;
}

.dark-mode {
  filter: invert(1) hue-rotate(180deg); 
}

.user-stats {
  font-size: 16px;
  font-weight: bold;
}

img {
  width: 100%;
  height: auto;
}

.profile-heading {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.profile-about {
  width: 465.01px;
  height: auto;
  background-color: #d3e1f1;
  border-radius: 20px;
}

.profile-post {
  width: 467px;
  height: auto;
  background-color: #a6cdfc;
  border-radius: 20px;
}

.categories {
  width: auto;
  height: auto;
  border-radius: 20px;
  background-color: #d3e1f1;
}

.category-pill {
  width: auto;
  height: auto;
  background-color: #a6cdfc;
  opacity: 50%;
  border-radius: 30px;
  color: #041b35;
  font-weight: bold;
  border: 1px solid #041b35;
}
