/* Color Pallete */
/* 
#A6CDFC
#9DCDFF
#56A1F6
#1C63B7
#0B3D77
#041B35
#5A6572
#A0B1C6
#D4E1F1
#FFFFFF */

/* General */
body {
  font-family: "Raleway", sans-serif;
  height: 100%;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  /* overflow:hidden; */
}

/* Forgot Password Component Styles */
.jumbotron-forgot-pass {
  margin-top: 2.5%;
  color: #041b35;
}

.forgot-pass-form {
  margin: 0 35%;
  margin-top: 2%;
  background-color: #9dcdff;
  padding: 3%;
  border-radius: 40px;
  color: #041b35;
  font-size: 1.5em;
}

.form-control {
  border-radius: 40px;
}

.forgot-pass-submit {
  background-color: #0b3d77;
  color: #9dcdff;
  font-size: 1em;
  border-radius: 25px;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.forgot-pass-submit:hover {
  background-color: #a0b1c6;
  color: #0b3d77;
  border-color: #0b3d77;
  font-size: 1em;
  border-radius: 25px;
  padding-left: 1em;
  padding-right: 1em;
}

#login-link {
  color: #0b3d77;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

span {
  font-size: 12px;
  color: red;
}
