<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../../assets/lotus.png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Learned Bootstrap From -->
    <!-- https://getbootstrap.com/-->

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/25ed10730a.js" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet" />

    <!-- Animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <title>Meliora</title>

    <script type="text/javascript" src="./loading/loading.js"></script>
</head>

<body>
    <div>
        <!-- Navbar Component -->
        <app-home-navbar></app-home-navbar>

        <div class="wrapper column justify-content-between">
            <div class="general">
                <h2 class="heading text-center">Mental Health Resources Page</h2>
            </div>
            <div class="health-textbox ">
                <h3 class="resource-heading text-center">Suicide Related</h3>
                <br>
                <h4 class="font-italic text-center" style="font-size: 1.9em;">"Life is precious. Don't Lose it."</h4>
                <h3 class="resource-text text-left"><mark>Hotline Numbers:</mark></h3>
                <ul>
                    <li class="resource-list">National Suicide Prevention Lifeline: (800) 273-TALK (8255)</li>
                    <li class="resource-list">Samaritans (UK Crisis Help, Anywhere in the UK or Ireland): 116 123</li>
                    <li class="resource-list">Girls & Boys Town National Hotline: (800) 448-3000</li>
                </ul>
                <h3 class="resource-text text-left">Contact Emails:</h3>
                <ul>
                    <li class="resource-list">Samaritans: jo@samaritans.org</li>
                    <li class="resource-list">National Action Alliance for Suicide Prevention:
                        info@theActionAlliance.org</li>
                </ul>
                <h3 class="resource-text text-left">Helpful Websites:</h3>
                <ul>
                    <li class="resource-list">Befrienders: <a
                            href="https://www.befrienders.org/">https://www.befrienders.org/</a></li>
                </ul>
            </div>
            <div class="health-textbox">
                <h3 class="resource-heading text-center">Domestic Violence Related</h3>
                <br>
                <h4 class="font-italic text-center" style="font-size: 1.9em;">"Love is Respect."</h4>
                <h3 class="resource-text text-left"><mark>Hotline Numbers:</mark></h3>
                <ul>
                    <li class="resource-list">National Domestic Violence Hotline: (800) 799-7233</li>
                    <li class="resource-list">Rape, Sexual Assault, and Incest National Network: (800) 656-HOPE</li>
                </ul>
                <h3 class="resource-text text-left">Contact Emails:</h3>
                <ul>
                    <li class="resource-list">Indiana Coalition Against Domestic Violence: <a
                            href="https://icadvinc.org/contact-us/">Email Now</a></li>
                    <li class="resource-list">National Domestic Violence Hotline: <a
                            href="https://nnedv.org/contact-us/">Email
                            Now</a></li>
                </ul>
                <h3 class="resource-text text-left">Helpful Websites:</h3>
                <ul>
                    <li class="resource-list">Domestic Shelter: <a
                            href="https://www.domesticshelters.org/">https://www.domesticshelters.org/</a></li>
                </ul>
            </div>
            <div class="health-textbox">
                <h3 class="resource-heading text-center">Child Abuse Related</h3>
                <br>
                <h4 class="font-italic text-center" style="font-size: 1.9em;">"Don't Tolerate Child Abuse. Report it!"
                </h4>
                <h3 class="resource-text text-left"><mark>Hotline Numbers:</mark></h3>
                <ul>
                    <li class="resource-list">The Childhelp National Child Abuse Hotline: (800) 540-4000</li>
                    <li class="resource-list">Covenant House (Help for runaways): (800) 999-9999</li>
                    <li class="resource-list">Massachusetts Child Abuse Hotline: (800) 792-5200</li>
                </ul>
                <h3 class="resource-text text-left">Contact Emails:</h3>
                <ul>
                    <li class="resource-list">PreventChildAbuse.org: info@preventchildabuse.org</li>
                    <li class="resource-list">Child Welfare: info@childwelfare.gov</li>
                </ul>
                <h3 class="resource-text text-left">Helpful Websites:</h3>
                <ul>
                    <li class="resource-list">Child Help: <a
                            href="https://www.childhelp.org/child-abuse/">https://www.childhelp.org/child-abuse/</a>
                    </li>
                </ul>
            </div>
            <div class="health-textbox">
                <h3 class="resource-heading text-center">Alcohol Abuse Related</h3>
                <br>
                <h4 class="font-italic text-center" style="font-size: 1.9em;">"Get away from alcohol addiction."</h4>
                <h3 class="resource-text text-left"><mark>Hotline Numbers:</mark></h3>
                <ul>
                    <li class="resource-list">SAMHSA National Helpline: 800-662-HELP (4357)</li>
                    <li class="resource-list">Alcohol.org Hotline: 888-685-5770</li>
                    <li class="resource-list">Al-anon Telephone Meetings: (712) 432-0075</li>
                </ul>
                <h3 class="resource-text text-left">Contact Emails:</h3>
                <ul>
                    <li class="resource-list">National Institute on Alcohol Abuse and Alcoholism: <a
                            href="https://public.govdelivery.com/accounts/USNIAAA/subscriber/new?topic_id=USNIAAA_18">Email
                            Now</a></li>
                    <li class="resource-list">Indiana Alcohol and Tobacco Commission: <a
                            href="https://www.in.gov/atc/">Email
                            Now</a></li>
                </ul>
                <h3 class="resource-text text-left">Helpful Websites:</h3>
                <ul>
                    <li class="resource-list">Smart Recovery: <a
                            href="https://www.smartrecovery.org/">https://www.smartrecovery.org/</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>