.wrapper {
  display: flex;
}

.small-card {
  width: 20%;
  height: 5em;
  border-radius: 30px;
  background-color: lightblue;
}

.small-card p {
  margin-top: 1.7em;
}

.dark-mode {
  filter: invert(1) hue-rotate(180deg);
}
